* {
  font-family: 'MedievalSharp', cursive;
  margin-bottom: 0px;
}

body html {
  height: 100%;
}

.navbar {
  background-color: #EED06C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar h1 {
  font-size: 40px;
  margin: 5px;
  margin-top: 8px;
  font-weight: bolder;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-button, .enter-search {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px; 
  padding: 4px 8px;
  margin-right: 10px;
  cursor: pointer;
}

#search-input {
  padding:8px;
  width: 500px;
  margin-right: 10px;
  font-size: 20px;
}

.search-icon, .home-icon {
  width: 25px;
  height: 29px;
}

.add-review {
  font-size: 20px;
  width: 180px;
  margin: 1%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}


.content {
  display: grid;
  text-align: left;
  grid-template:
    "leftside middle rightside"
    /20% 60% 20%;
  height:100%;
}

.banner-left, .banner-right {
  background-color: #293A45;
}

.banner-left {
  grid-area: leftside;
  float: left;
}

.banner-right {
  grid-area: rightside;
  float: right;
}

.homepage {
  grid-area: middle;
  background-color: #699894;
  flex-grow: 1;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-preview-container {
  height: 100%;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px; 
  margin: 5%; 
  background-color: white;
  cursor: pointer;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-preview-label {
  font-size: 24px;
  font-weight: bold;
  margin: 8px; 
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.product-preview-image {
  width: 250px;
  height: 250px;
  margin: 5px;
  padding: 5px;
  border: #293A45;
  background-color: white;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
}

.product-preview-rating {
  max-width: 100%; 
  height: auto;
}

.product-article-container {
  margin: 0;
  display: grid;
  text-align: left;
  grid-template:
    "article-image article-name"
    "article-image describtion"
    "keywords keywords"
    "review review"
    /45% 55%;
}

.keywords-list {
  grid-area: keywords;
  color: #293A45;
  font: bold italic 10px;
  font-size: 20px;
  margin-left: 5%;
  height: 40px;
  display: flex;
  align-items: center;
}

.keywords-list a {
  text-decoration: none;
  color: #293A45;
  font-weight: bold;
  font-style: italic; 
}

.keywords-list a:hover {
  text-decoration: underline; 
  color: #0056b3; 
}

.product-article-image {
  grid-area: article-image;
  width: 400px;
  height: 400px;
  margin: 10%;
  margin-bottom: 0px;
  padding-bottom: 1%;
  margin-right: 5%;
  border: 5px solid black;
  border-radius: 10px;
  padding: 2%;
  background-color: #EED06C;
}

.product-article-label {
  grid-area: article-name;
  height: 60px;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 10%;
  padding: 0px;
  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 0px;
  border-bottom: 10px solid black;
}

.product-article-description {
  grid-area: describtion;
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 25px;
  background-color: #fff;
  padding: 20px;
  height: 295px;
  border-radius: 10px;
  margin-bottom: 4%;
}

.product-article-rating {
  grid-area: review;
  display: flex;
  margin-left: 5%;
  font-size: 25px;
  height: 40px;
  align-items: center;
}

.product-article-rating label {
  padding-top: 5px;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%
}

.product-review-container {
  padding: 20px;
  font-size: 50px;
  text-align: left;
  background-color: #699894;
}

.review {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  border-radius: 20px;
  margin-top: 5%;
}

.reviews-headline {
  padding-left:2%;
  margin: 1%;
  font-size: 40px;
  font-weight: bolder;
  color: #333;  
}

.review-header {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  margin-bottom: 10px;

  font-size: 25px;
}

.reviewer-name {
  font-weight: bold;
  padding-left:20px;
}

.review-time {
  padding-right:20px;
}

.review-rating {
  width: 150px; 
  height:100%;
  justify-content: left;
  text-align: left;
  padding-left:20px;
}

.review-content {
  margin-top: 10px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

#reviews-header {
  display: flex;
  justify-content: space-between; 
  border-bottom: black;
  border-width: 0px;
  border-style: solid;
  border-bottom-width: 10px;
  width:100%;
  margin: 0px;
}

#reviews-headline {
  margin:0px;
}

